@model IEnumerable<FedPayArchiver.EFModels.ArchHpoSummary>

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Purhcase Orders Meeting Criteria entered:";
}
<h2>Purchase Order Results</h2>
<br />
<right>
    <bold>
        <font color=#00b300 size=+2>
            Search Criteria   <br />
            @ViewBag.SearchCriteria
        </font><br>
        <font color=#ff3333 size=+2>
            @ViewBag.SearchRes
        </font><br>
    </bold>
    <table class="table" style="width:50%" border="1">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Hpos)*@
                    FEDPAY PO#
                </th>
                <th>
                    FAS PO#
                </th>
                <th>
                    Date of Order
                </th>
                <th>
                    PO Line Items
                </th>
                <th>
                    PO Line Item Activity
                </th>
                <th>
                    PO Note
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HposPoNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HposFssPoNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HposDateOfOrder)
                    </td>
                    <td>
                        <a asp-action="POL"
                           asp-route-poid="@item.HposPoId" 
                           asp-route-OrderDate="@item.HposDateOfOrder" 
                           asp-route-SrchCriteria="@ViewBag.SearchCriteria"
                           asp-route-fpo="@ViewBag.FPno"
                           asp-route-faspo="@ViewBag.FASno">View</a>
                    </td>
                    <td>
                        <a asp-action="POA"
                           asp-route-poid="@item.HposPoId" 
                           asp-route-OrderDate="@item.HposDateOfOrder" 
                           asp-route-SrchCriteria="@ViewBag.SearchCriteria"
                           asp-route-fpo="@ViewBag.FPno"
                           asp-route-faspo="@ViewBag.FASno">View</a>
                    </td>
                    <td>
                        <a asp-action="PON"
                           asp-route-poid="@item.HposPoId" 
                           asp-route-OrderDate="@item.HposDateOfOrder" 
                           asp-route-SrchCriteria="@ViewBag.SearchCriteria"
                           asp-route-fpo="@ViewBag.FPno"
                           asp-route-faspo="@ViewBag.FASno">View</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("NEW SEARCH", "PARAM", new { /* go back to get new search criteria */ })
