@model IEnumerable<FedPayArchiver.EFModels.ArchHpoLineItemActivity>

@{
    Layout = null;
}

@{
    ViewData["Title"] = "PO Line Items";
}
<h2>Purchase Order Results</h2>
<br />
<right>
    <bold>
        <font color=#00b300 size=+2>
            Search Criteria   <br />
            @ViewBag.SearchCriteria
        </font><br>
        <font color=#ff3333 size=+2>
            @ViewBag.SearchRes
        </font><br>
    </bold>
    <table class="table"style="width:50%"border="1">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Hpos)*@
                    FEDPAY PO#
                </th>
                <th>
                    FAS PO#
                </th>
                <th>
                    Date of Order
                </th>
                <th>
                    LINE SEQ#
                </th>
                <th>
                    LINE ACTIVITY#
                </th>
                <th>
                    ACTION
                </th>
                <th>
                    PAID QTY
                </th>
                <th>
                    INVOICE#
                </th>
                <th>
                    DATE PROCESSED
                </th>
                <th>
                    PAID UCP
                </th>
                <th>
                    BILLED USP
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HpoaPoNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpoaFssPoNo)
                </td>
                <td>
                    @ViewBag.OrdDt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpoaPolSeqNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpoaSeqNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpoaTypeAction)
                </td>
                <td>
                    @*This needs to be either the Paid Qty or the Delete QTY depending on Action type*@
                    @Html.DisplayFor(modelItem => item.HpoaPaidQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpoaInvoiceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpoaPaidDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpoaPaidUcp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpoaBilledUsp)
                </td>

            </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("NEW SEARCH", "PARAM", new { /* go back to get new search criteria */ })
