@model IEnumerable<FedPayArchiver.EFModels.ArchHinvoiceLineItem>

@{
    Layout = null;
}

@{
    ViewData["Title"] = "PO Line Items";
}
<h2>Purchase Order Results</h2>
<br />
<right>
    <bold>
        <font color=#00b300 size=+2>
            Search Criteria   <br />
            @ViewBag.SearchCriteria
        </font><br>
        <font color=#ff3333 size=+2>
            @ViewBag.SearchRes
        </font><br>
    </bold>
    <table class="table"style="width:50%"border="1">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Hpos)*@
                    FEDPAY PO#
                </th>
                <th>
                    FAS PO#
                </th>
                <th>
                    Date of Order
                </th>
                <th>
                    LINE SEQ#
                </th>
                <th>
                    LINE ACTIVITY#
                </th>
                <th>
                    ACTION
                </th>
                <th>
                    PAID QTY
                </th>
                <th>
                    INVOICE#
                </th>
                <th>
                    DATE PROCESSED
                </th>
                <th>
                    PAID UCP
                </th>
                <th>
                    BILLED USP
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HinlPoNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinlFssPoNo)
                </td>
                <td>
                    @ViewBag.OrdDt
                </td>
                <td>
                    N/A 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinlPolSeqNo)
                </td>
                <td>
                    F
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinlDisbursedQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinlInvoiceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinlInitTimestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinlDisbursedUcp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinlDisbursedUsp)
                </td>

            </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index" asp-route-pos="@ViewBag.IndxPO" asp-route-faspo="@ViewBag.IndxFASPO">PO List</a>  &nbsp;
        @Html.ActionLink("NEW SEARCH", "PARAM", new { /* go back to get new search criteria */ })
    </div>