@model IEnumerable<FedPayArchiver.EFModels.ArchHpoLineItem>

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<body>
<div.body-content>
    @{
        ViewData["Title"] = "PO Line Items";
    }
    <h2>
        Purchase Order Line Items       
    </h2>
    <br />
    <bold>
        <font color=#00b300 size=+2>
            Search Criteria   <br />
            @ViewBag.SearchCriteria <br />
        </font><br>
        <font color=#ff3333 size=+2>
            @ViewBag.SearchRes
        </font><br>
    </bold>
    <table class="table" style="width:50%" border="1">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Hpos)*@
                    FEDPAY PO#
                </th>
                <th>
                    FAS PO#
                </th>
                <th>
                    Date of Order
                </th>
                <th>
                    SEQ#
                </th>
                <th>
                    REQ#
                </th>
                <th>
                    STOCK#
                </th>
                <th>
                    Orig QTY
                </th>
                <th>
                    Open QTY
                </th>
                <th>
                    UI
                </th>
                <th>
                    UCP
                </th>
                <th>
                    USP
                </th>
                <th>
                    SUPP ADDR
                </th>
                <th>
                    CC
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolPoNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolFssPoNo)
                </td>
                <td>
                    @ViewBag.OrdDt.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolSeqNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolReqNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolStockNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolQtyAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolUnitOfIssue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolUcp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolUsp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolSupplAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HpolSpecialRate)
                </td>

            </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index"
           asp-route-pos="@ViewBag.FPno"
           asp-route-faspo="@ViewBag.FASno">PO List</a>  &nbsp;

        <a asp-action="POA"
           asp-route-poid="@ViewBag.PoId"
           asp-route-OrderDate="@ViewBag.OrdDt"
           asp-route-SrchCriteria="@ViewBag.SearchCriteria"
           asp-route-fpo="@ViewBag.FPno"
           asp-route-faspo="@ViewBag.FASno">PO Activity</a>  &nbsp;

        <a asp-action="PON"
           asp-route-poid="@ViewBag.PoId"
           asp-route-OrderDate="@ViewBag.OrdDt"
           asp-route-SrchCriteria="@ViewBag.SearchCriteria"
           asp-route-fpo="@ViewBag.FPno"
           asp-route-faspo="@ViewBag.FASno">PO Notes</a>  &nbsp;
    </div>
</div.body-content>
</body>
</html>
@Html.ActionLink("NEW SEARCH", "PARAM", new { /* go back to get new search criteria */ })
